/* PermissionsEditor component styles */

.permissions-editor .accordion-button {
    padding: 0.5rem 1rem;
    /* background-color: transparent; */
}

.permissions-editor .accordion-button:not(.collapsed) {
    background-color: transparent;
}




.dark-theme .permissions-editor .accordion-item {
  background-color: #212529; /* colore sfondo item */
  color: #fff;
  border-color: #343a40;
}

.dark-theme .permissions-editor .accordion-button,
.dark-theme .permissions-editor .accordion-button.collapsed {
  /* background-color: #212529; */
  background-color: #495057;
  color: #fff;
  box-shadow: none;
  border: 1px solid #212529;
  /* border: 1px solid #343a40; */
}

.dark-theme .permissions-editor .accordion-body {
  background-color: #343a40;
  color: #fff;
}